body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.7)url('../img/bcg.jpg');
    background-size:cover;
    background-blend-mode:difference;
}
header {
    text-align:justify;
    text-decoration-line: underline;
    background-color: #007BFF;
    color: white;
    padding: 0.1%;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.left-column {
    flex:0.5;
    padding: 20px;
    border-right: 2px solid #ccc;
}
.right-column {
    flex: 1;
    padding: 20px;
}
.table-container {
    max-height: 150px; /* Adjust the height as needed */
    overflow-y: scroll; /* Add a vertical scrollbar when needed */
}
table {
    width: 100%;
    border-collapse: collapse;
    
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 8px;
    text-align: left;
}
thead {
    background-color: #f2f2f2;
    position: sticky;
    top: 0; /* Stick to the top of the container */
    z-index: 1; /* Ensure the header is above the table body */
}
.generate-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
.logoutButton{
    text-align: center;
    background-color: #007BFF;
    color: white;
    padding: 0.1%;
}
.payment-section {
    display: inline-block;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(200, 200, 255, 0.5);

}
#paymentAmount {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
}
@media only screen and (max-width:1024px){
    .left-column{
        flex-direction: column;
        text-align: center;
    }
    .right-column{
        flex-direction: column;
        text-align: center;
    }
    .payment-section{
        flex-direction: column;
        text-align: center;
    }
}