body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image-gallery {
    text-align: center;
    position: relative;
}

img {
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
}

.navigation {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.image {
    width: 300px; /* Set your desired width in pixels */
    height: 200px; /* Set your desired height in pixels */
}
